<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lê Quang Vỹ | Facebook Incognito</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<style>
    span {
        font-size: 13px !important;
    }
    ::placeholder {
        font-size: 14px;
    }
</style>

<body style="width:600px;font-size: 14px;">
    <div class="" id="app">
        <nav class="sticky-top bg-light">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a v-for="(tab, index) in tabs" @click="currentTab = tab.name" :class="`nav-item nav-link ${currentTab == tab.name ? 'active' : ''}`" id="nav-home-tab" data-toggle="tab" :href="`#nav-${index}`" role="tab"
                    aria-controls="nav-home" aria-selected="true">{{ tab.title }}</a>
            </div>
        </nav>
        <div :class="`alert alert-${alert.status} m-3`" v-if="alert.show">
            {{ alert.message }}
        </div>
        <div v-if="loading" class="m-3">
            Đang tải dữ liệu, xin chờ trong giây lát...
        </div>
        <div v-else class="tab-content m-3" id="nav-tabContent">
            <div class="tab-pane active show mt-3" v-if="currentTab == 'feature'" id="nav-0" role="tabpanel"
                aria-labelledby="nav-home-tab">
                <div v-for="(feature, index) in features" :key="index" class="mb-3 custom-control custom-checkbox">
                    <input v-model="feature.status" @change="handleStatus(feature)" type="checkbox" class="custom-control-input" :id="index">
                    <label class="custom-control-label" :for="index">{{ feature.text }}</label>
                </div>
            </div>
            <div class="tab-pane active show mt-3" v-if="currentTab == 'fly-color'" id="nav-1" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div v-if="actorHasSet">
                    <div class="alert alert-warning">
                        <div class="custom-control custom-checkbox">
                            <input v-model="flyColor.multipleGroups" type="checkbox" id="fly-color-multipleGroups" class="custom-control-input">
                            <label class="custom-control-label" for="fly-color-multipleGroups"><strong>Fly Color Click In Multiple Groups</strong></label>
                        </div>
                        <div class="mt-2" v-if="!flyColor.multipleGroups">
                            <div><strong>Fly Color Click In Multiple Groups</strong> là chức năng thử nghiệm nên sẽ có vài bug nhỏ, khi bạn bật chức năng này, bạn có thể sử dụng <strong>Fly Color Click</strong> trên tất cả các nhóm mà bạn làm Admin. Bạn nên cân nhắc sử dụng thông báo đa kênh Discord, Facebook khi sử dụng tính năng này</div>
                        </div>
                    </div>
                    <div v-if="!flyColor.multipleGroups" class="form-group">
                        <label>Group ID</label>
                        <input class="form-control form-control-sm text-sm" v-model="flyColor.groupId" placeholder="Nhập Group ID" type="number">
                    </div>
                    <div class="form-group">
                        <label>Discord Webhook</label>
                        <input @change="connectToDiscord()" class="form-control form-control-sm text-sm" v-model.trim="flyColor.discordHook" placeholder="Nhập Discord Webhook" type="url">
                    </div>
                    <div class="form-group">
                        <label>Facebook Post ID</label>
                        <input @change="connectToFacebook()" class="form-control form-control-sm text-sm" v-model.trim="flyColor.facebookPostId" placeholder="Nhập ID bài viết" type="number">
                    </div>
                    <div class="form-group">
                        <label>Mẫu Thông Báo </label>
                        <textarea class="form-control form-control-sm text-sm" v-model="flyColor.message" placeholder="Blocked : {{ name }} | UID : {{ uid }} | Lí do : {{ reason }}"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Danh sách ID Bất Tử ( Mỗi ID 1 dòng )</label>
                        <textarea class="form-control form-control-sm text-sm" v-model="flyColor.ignoreMemberId" placeholder="Danh sách ID bất tử"></textarea>
                    </div>
                    <div class="mb-3 custom-control custom-checkbox">
                        <input v-model="flyColor.banForever" type="checkbox" id="fly-color-ban" class="custom-control-input">
                        <label class="custom-control-label" for="fly-color-ban">Hiện popup ban vĩnh viễn</label>
                    </div>
                    <div class="mb-3 custom-control custom-checkbox">
                        <input v-model="flyColor.showReason" type="checkbox" id="fly-color-reason" class="custom-control-input">
                        <label class="custom-control-label" for="fly-color-reason">Hiện popup lí do ban</label>
                    </div>
                    <div class="mb-3 custom-control custom-checkbox">
                        <input v-model="flyColor.showDeadBadge" type="checkbox" id="fly-color-dead-badge" class="custom-control-input">
                        <label class="custom-control-label" for="fly-color-dead-badge">Hiện số người đã bị fly color</label>
                    </div>
                    <button @click="updateFlyColor()" class="btn btn-primary btn-sm mb-3 ">Cập nhật</button>
                 </div>
                 <div v-else>
                     Xin vui lòng truy cập Facebook để sử dụng chức năng này 😉
                 </div>
            </div>
            <div class="tab-pane active show mt-3" v-if="currentTab == 'about'" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <p><strong>Giới Thiệu</strong></p>
                <p>Facebook Incognito là một dự án open source của mình, các bạn có để đóng góp ý kiến hoặc có ý tưởng thêm tính năng mới thì vào <a href="#">https://github.com/svenit/facebook-incognito/issues/new</a></p>
                <p>Nghiêm cấm sử dụng mã nguồn của mình cho việc thương mại hóa</p>
                <p>Nếu bạn là một người lịch sự xin vui lòng không xóa watermark ^^</p>
                <p>Mã nguồn sẽ luôn được cập nhật tại đây : <a href="#">https://github.com/svenit/facebook-incognito</a></p>
                <p><strong>Liên Hệ</strong></p>
                <li class="mb-1">
                    Facebook : <a href="https://www.facebook.com/sven307">https://www.facebook.com/sven307</a>
                </li>
                <li class="mb-1">
                    Gmail : <a href="https://www.facebook.com/sven307">lequangvy2k@gmail.com</a>
                </li class="mb-1">
                <li class="mb-1">
                    Blog : <a href="https://www.facebook.com/sven307">https://svenit.github.io/</a>
                </li>
                <li class="mb-1">
                    Github : <a href="https://www.facebook.com/sven307">https://github.com/svenit</a>
                </li>
            </div>
        </div>
        <p class="text-muted m-3"><strong>Facebook Incognito by Lê Quang Vỹ</strong> | <strong>Version : 1.0.2</strong></p>
    </div>
</body>
<script src="assets/js/vue.min.js"></script>
<script src="assets/js/axios.min.js"></script>
<script src="constant/define.js"></script>
<script src="core/handle.js"></script>
</html>